div.dt-length>select#dt-length-1,
div.dt-length>select#dt-length-2 {
  width: 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  display: inline-block;
}

.dataTables_length select {
  font-size: 12px;
  /* Adjust font size as needed */
  width: 60px;
  /* Adjust width as needed */
  padding: 2px 4px;
  /* Adjust padding for better appearance */
}

.dt-button {
  color: #fff !important;
}

.dt-scroll-sizing {
  height: 0 !important;
  overflow: hidden !important;
}

.btn-purple {
  background-color: rebeccapurple;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: indigo;
}

.btn-purple:disabled {
  background-color: rebeccapurple !important;
  opacity: 0.7;
  /* Adjust opacity for a duller look if you prefer */
  color: white !important;
  border-color: rebeccapurple !important;
}

.custom-modal-width {
  max-width: 90%;
  width: 100%;
}

@media (min-width: 1800px) {
  .custom-modal-width {
    max-width: 70%;
  }
}

.wrap-text {
  word-break: break-word !important;
  white-space: normal !important;
  overflow-wrap: break-word;
  max-width: 100%;
}

.display_cluster th {
  position: sticky;
  top: 0;
  background-color: #212529;
  z-index: 1;
}