{% extends "base.html" %}

{% block content %}
<p>Welcome {{username}}!</p>
<br>
<p>Search History</p>

{% if search_history %}
    <table border="1" style="margin-left:auto; margin-right:auto;">
        <thead>
            <tr>
                <th>Search Query</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in search_history %}
            <tr>
                <td>{{ entry.search_query }}</td>
                <td>{{ entry.created_utc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No search history available.</p>
{% endif %}

{% endblock %}